div.note {
    height: 150px;
    width: 150px;    
    margin: 5px 5px;
    position: absolute;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    z-index: 100;
}

div.note:active {
    cursor: -webkit-grabbing;
}

div.note p {
    font-size: 22px;
    padding: 5px;
    font-family: "Shadows Into Light", Arial;
}

div.note:hover {
    z-index: 9999;
}

div.note:hover>span {
    opacity: 1;
}

div.note>span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

div.note>button {
    margin: 2px;
}

div.note>textarea {
    height: 70%;
    background: rgba(255, 255, 255, .5);
}

.left-board>.board>div.note {
    background-color: rgb(169, 245, 6);
}

.right-board>.board>div.note {
    background-color: yellowgreen;
    z-index: 1000;
}